/* Section's colors */
header {
	background-color: #fff;
}

footer, #slider_buttons {
	background-color: #63594c;
}
#infos, #mentions, #post, #posts, #animal, #animals, #login, #admin, #profile, #adminPostView, #adminPostCreation, #adminModify, #adminRights, #adminComments, #adminAnimalView, #adminFormAnimal, #adminAnimalModify {
	background-color: #e6e2e2;
}
#map_h2 {
	background-color: #e4d7c8;
}
#slider {
	background-color: #b5a58e;
}
#don {
	background-color: #d0c5b7;
}
#contact {
	background-color: #a59782;
}

/*  Header */
header img {
	width: 35%;
}

/* Map */
#map {
	height:600px;
	width:60%;
}

.red_marker{
	filter:hue-rotate(240deg);
}
.green_marker{
	filter:hue-rotate(130deg);
}

.not_visible {
	display:none !important;
}
.visible {
	display:block !important;
}

/*Slider*/

#slider {
	padding-top: 1%;
	position:relative;
	overflow: hidden;
	height:100%;
	width:100%;
}

figure img {
	max-width: 700px;
	max-height:350px;
}
figcaption {
	text-align: center;
	font-size: 1.25em;
}
#slider_buttons {
	position :relative;
	width:50%;
	height:75px;
	justify-content: center;
	border-radius: 10px;
}
#button_left, #button_right, #button_pause, #button_play{
	position :absolute;
	height:48px;
	width:48px;
	border-radius: 50%;
	border: none;
	padding:0;
	color:#eb651b;
	box-sizing: content-box;
}
#button_left:focus, #button_right:focus, #button_pause:focus, #button_play:focus{
	outline: none;
}
#button_left{
	left:20%;
}

#button_right{
	right: 20%;
}
#button_play:hover,#button_right:hover,#button_pause:hover,#button_left:hover {
	color:white;
	border:1px solid #eb651b;
	background-color: #eb651b;
}

/* Don's section */
#don img {
	width: 50%;
}
#don p {
	width: 80%;
}

/* Comments button report */
.comment .fa-ban {
    position: absolute;
    top:0;
    right:10%;
    display:none;
}
.comment:hover .fa-ban{
    display:inline;
}
#comment input {
    border:none;
}
#check:focus{
    outline: none;
}

/* Primary Button BT */
.btn-primary {
	background-color: #eb651b !important;
	border-color: #eb651b !important;
}
.btn-primary:hover{
	background-color: #f88648 !important;
	border-color: #f88648 !important;
}

/* Secondary Background BT */
.bg-secondary {
	background-color:#bdbdbd !important;
}

/* All animals Page img */
#all_animals img{
	width:80%;
}
.activeButton{
	color: white !important;
	background-color: red !important;
}

/* TinyMce textarea height adjusted */
div.tox.tox-tinymce {
	min-height: 350px !important;
}