body {
    margin:0;
    background-color: #A2F8FF;
}

/* Header */
header {
    background-color: #79B6BB;
}
/* First Section */
#section_img {
    max-height:1000px;
}
figure {
    width:100%;
}
figure img {
    max-height: 700px;
    width:100%;
}
figcaption {
    font-size: 1.8em;
    top:40%;
    left:calc(50% - 175px);
    width:350px;
}

/* Footer */
#social_networks {
    margin: 0;
}

/* Comments button report */
.comment .fa-ban {
    position: absolute;
    top:0;
    right:10%;
    display:none;
}
.comment:hover .fa-ban{
    display:inline;
}
#comment input {
    border:none;
}
#check:focus{
    outline: none;
}

/* Creation post */
div.tox.tox-tinymce {
    height: 400px !important;
}

/* Media queries Mobile*/
@media screen and (max-width: 426px)
{
    /* Figcaption's adjusting */
    figcaption {
        font-size: 1.4em;
        top:30%;
        left:calc(50% - 140px);
        width:280px;
    }
}