RewriteEngine On
RewriteBase "/SPA-Chamalieres/"

RewriteRule ^Acceuil$ index.php [L]
RewriteRule ^Contact$ index.php?action=contact [L]
RewriteRule ^Nos-Animaux$ index.php?action=viewAnimals [L]
RewriteRule ^Actualités/Page-([0-9]+)$ index.php?action=viewPosts&page=$1 [L]
RewriteRule ^Administration$ index.php?action=admin [L]
RewriteRule ^Administration/Mot-de-passe-changé$ index.php?action=admin&msg=pass_success [L]
RewriteRule ^Administration/Mail-nouvel-administrateur-envoyé$ index.php?action=admin&msg=new_admin_success  [L]
RewriteRule ^Déconnexion$ index.php?action=disconnect [L]
RewriteRule ^Mentions-Légales$ index.php?action=mentions [L]
RewriteRule ^Connection$ index.php?action=login [L]
RewriteRule ^Nouveau-Post$ index.php?action=postCreation [L]
RewriteRule ^Administration-Post/Page-([0-9]+)$ index.php?action=adminPost&page=$1 [L]
RewriteRule ^Ajouter-Animal$ index.php?action=formAnimal [L]
RewriteRule ^Administration-Animaux$ index.php?action=adminAnimal [L]
RewriteRule ^Administration-Commentaires$ index.php?action=viewComments [L]
RewriteRule ^Ajouter-Administrateur$ index.php?action=manageRights [L]
RewriteRule ^Profil$ index.php?action=viewProfile [L]
RewriteRule ^Posts/Post-([0-9]+)$ index.php?action=viewPost&id=$1 [L]
RewriteRule ^Animaux/Animal-([0-9]+)$ index.php?action=viewAnimal&id=$1 [L]
RewriteRule ^Signalement/Commentaire-([0-9]+)-Post-([0-9]+)$ index.php?action=reportedCommentPost&id=$1&post_id=$2 [L]
RewriteRule ^Ajout-Commentaire/Post-([0-9]+)$ index.php?action=addComment&id=$1 [L]
RewriteRule ^Signalement/Commentaire-([0-9]+)-Animal-([0-9]+)$ index.php?action=reportedCommentAnimal&id=$1&animal_id=$2 [L]
RewriteRule ^Ajout-Commentaire/Animal-([0-9]+)$ index.php?action=addCommentAnimal&id=$1 [L]
RewriteRule ^Modification-Post-([0-9]+)$ index.php?action=adminPostModify&id=$1 [L]
RewriteRule ^Suppression-Post-([0-9]+)$ index.php?action=adminPostDelete&id=$1 [L]
RewriteRule ^Post-Modifié-([0-9]+)$ index.php?action=adminPostModified&id=$1 [L]
RewriteRule ^Ajout-Post$ index.php?action=addPost [L]
RewriteRule ^Ajout-Animal$ index.php?action=addAnimal [L]
RewriteRule ^Modification-Animal-([0-9]+)$ index.php?action=adminAnimalModify&id=$1 [L]
RewriteRule ^Suppression-Animal-([0-9]+)$ index.php?action=adminAnimalDelete&id=$1 [L]
RewriteRule ^Animal-Modifié-([0-9]+)$ index.php?action=adminAnimalModified&id=$1 [L]
RewriteRule ^Ajouter-Droits$ index.php?action=addRights [L]
RewriteRule ^Modification-Profil$ index.php?action=modifyAdminProfile [L]
RewriteRule ^Accepter-Commentaire-Post-([0-9]+)$ index.php?action=accept&id=$1 [L]
RewriteRule ^Suppression-Commentaire-Post-([0-9]+)$ index.php?action=remove&id=$1 [L]
RewriteRule ^Accepter-Commentaire-Animal-([0-9]+)$ index.php?action=accept&id=$1 [L]
RewriteRule ^Suppression-Commentaire-Animal-([0-9]+)$ index.php?action=remove&id=$1 [L]